.header {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/books1.jpeg");
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 40px;
  font-weight: 600;
}
