.book-card-container {
  margin: 30px 20px;
  display: flex;
  background-color: white;
  width: 30vw;
  box-shadow: 3px 6px 35px grey;
  padding: 0px 15px;
}
.book-img-container {
  /* margin-top: -20px; */
  /* The element is positioned relative to itself */
  position: relative;
  top: -20px;
}

.book-content-container {
  padding: 15px 18px;
}

.book-title {
  font-size: 16px;
  font-weight: 600;
}

.book-author {
  color: gray;
  margin-bottom: 6px;
}

.rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.book-description {
  height: 60px;
  color: grey;
  font-weight: 600;
  font-size: 13px;
}
.book-voters {
  color: "#bbbbbb";
  font-size: 12px;
  padding: 5px;
}
